*{
    margin:0;
    padding: 0;
}
#sideBar{
    position: fixed;
    width: 20%;
    height: 100%;
    left: -20%;
    transition: all 500ms linear;
    background-color: white;
}
#sideBar li{
    color: black;
    font-size: 30px; 
    padding:10px;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid gray;
    text-align: center;
}
.toggle-btn{
    position: absolute;
    left:100%;
    top: 15px;
}
.toggle-btn span{
    display: block;
    background-color: black;
    width: 30px;
    height: 5px;
    margin: 3px;
}

#sideBar.active{
    left: 0;
}
.menuBox{
    margin: 0;
    padding: 80px 40px;
    width: 50%;
    height:77%;
    background: rgba(189, 189, 189, 0.726);
    color:#000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 70px 30px;
    border-color: white;
    
}

#wallpaper{
    height: 100vh;
    width: 100%;
    height: calc(100vh - 53px);
}

.menu{
    text-align: center;
    padding: 0;
    margin: 0;
    color: black;
}

input{
    margin-bottom: 10px;
}

#navbar{
    margin-bottom: 0 !important;
    background-color: lightblue;
}

#logo{
    margin-top: 10px;
    height: 30px;
    width: 200px;
}

#backbtn{
    height:30px;
    width: 30px;
    margin-top: 10px;
    float: left;
}
body{
    background-image: url(img/beach.jpg);
    
}