*{
    margin: 0;
    padding: 0;
}
.background{
    background-image: url(img/cityLights2.jpg);
    height: 100vh;
    width: 100vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.flex{
    display: flex;
    text-align: center;
    align-items: center;
}

.menuBox{
    margin: 0;
    padding: 80px 40px;
    width: 30vw;
    height: 40vh;
    background: rgba(255, 255, 255, 0.5);
    color:#000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -40%);
    box-sizing: border-box;
    padding: 70px 30px;
}

#logo{
    width:200px;
    height:30px;
    text-align: center;
}

#navBar{
    /* line-height: 150px; */
    height:60px;
    background-color: lightblue;

}

#menu{
    text-align: center;
}

.navbar-header{
    text-align: center;
}