#logo{
    width:200px;
    height:30px;
}

.navbar{
    margin-top: 45vh;
}

body{
    background-image: url(gif/loading.gif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}