.navbar{
    background-color: lightblue;
}

#logo{
    width:200px;
    height:30px;
    text-align: center;
    position: relative;
    top:10px;
}

#backbtn{
    height:30px;
    width: 30px;
    float: left;
    margin-top: -20px;

}

table{
    width:70%;
    border-spacing: 40px;
}

tbody th, tr{
    text-align: center; 
    margin: 5px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;    
}

th{
    background-color: lightblue;
    padding:10px;
}
h1, h3{
    text-align: left;
    padding-left: 30px;
}
td{
    font-size:16px;
    padding: 10px;
}
h3{
    color: darkblue;
}
table{
    margin: 10px;
}
#next{
    float:right;
    margin-right: 100px;
}