nav{
    height:60px;
    background-color: lightblue;
}

#logo{
    width:200px;
    height:30px;
    text-align: center;
    margin-top: 10px;
}

#backbtn{
    height: 30px;
    width: 30px;
    position: relative;
    top:-25px;
}