*{
    margin:0;
    padding: 0;
}
#sideBar{
    position: fixed;
    width: 30%;
    height: 100%;
    left: -30%;
    background-color: white;
}
#sideBar li{
    color: black;
    font-size: 30px; 
    padding:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid gray;
    text-align: center;
}
.toggle-btn{
    position: absolute;
    left:100%;
    top: 15px;
}
.toggle-btn span{
    display: block;
    background-color: black;
    width: 30px;
    height: 5px;
    margin: 3px;
}

#sideBar.active{
    left: 0;
}

#logo{
    margin-top: 10px;
    height: 30px;
    width: 200px;
}
#background{
    height: 100vh;
    width: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar{
    margin-bottom: 0 !important;
    background-color: lightblue;
}

.profileBox{
    margin: 0;
    padding: 0;
    width: 600px;
    height:420px;
    background: rgba(255, 255, 255, 0.5);
    color:#000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-45%, -50%);
    box-sizing: border-box;
    padding:20px;
}

img{
    height: 200px;
    width: 200px;
}
.profile{
   top:  100px;
}
h1{
        
}

.pic {
    display: flex;
}
body{
    overflow-x: hidden;
    background-image: url(img/beach.jpg);
}
